[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Windscribe GUI
Comment=Qt 5/6 based GUI for Windscribe VPN written in Python
Exec=windscribegui
Icon=windscribe.png
Terminal=false
